.woocommerce .checkout .tabs {
	margin: 0;
}

.woocommerce .checkout_coupon {
	display: block !important;
	margin-bottom: 46px;
	padding: 28px 28px 28px 37px;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-style: solid;
}

.woocommerce .checkout_coupon .coupon {
	margin: 0;
}

.woocommerce .checkout_coupon h4 {
	margin: 0;
}

.woocommerce .checkout_coupon .coupon #coupon_code {
	width: 406px;
	margin-right: 20px;
}

.woocommerce .shop_table.cart .coupon .button:before,
.woocommerce .checkout-login-box .woocommerce-info .button:before {
	border: 1px solid transparent;
	left: 0;
	content: '\e60f';
	font-size: 12px;
}

.woocommerce .shop_table.cart .coupon .button,
.woocommerce .checkout-login-box .woocommerce-info .button {
	height: 35px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.woocommerce-billing-collumns {
	padding-top: 20px;
}

.woocommerce-billing-collumns .woocommerce-billing-collumn {
	display: inline-block;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 19px;
	vertical-align: top;
}

.woocommerce-billing-collumns .woocommerce-billing-collumn.odd {
	padding-left: 0;
}

.woocommerce-billing-collumns .woocommerce-billing-collumn.even {
	padding-right: 0;
}

.woocommerce .checkout .form-row,
.woocommerce .checkout .shipping_address .shiping-address-continue,
.woocommerce .checkout #tabs-billing .shiping-address-continue,
.woocommerce-billing-collumns.bottom-collumns,
.woocommerce .edit-address-form .woocommerce-billing-collumn .form-row {
	position: relative;
	margin: 62px 0 0 0;
}

.woocommerce .checkout .woocommerce-billing-collumns .woocommerce-billing-collumn .form-row:first-child,
.woocommerce .edit-address-form .woocommerce-billing-collumns .woocommerce-billing-collumn .form-row:first-child {
	margin: 0;
}

.woocommerce .checkout .woocommerce-billing-collumn .form-row label,
.woocommerce .checkout .woocommerce-shipping-fields .form-row label,
.woocommerce .edit-address-form .woocommerce-billing-collumn .form-row label {
	display: block;
	width: 100%;
	position: absolute;
	left: 0;
	top: -37px;
	z-index: 1;
	font-size: 15px;
}

.woocommerce .checkout .woocommerce-billing-collumn .form-row label abbr,
.woocommerce .edit-address-form .woocommerce-billing-collumn .form-row label abbr {
	color: #fe3e64;
	vertical-align: super;
}

.woocommerce .checkout .form-row .input-text,
.woocommerce .edit-address-form .form-row .input-text {
	display: inline-block;
	position: relative;
	border: 0 none;
	margin: 0;
	width: 100%;
	height: 35px;
	text-align: left;
	color: inherit;
	vertical-align: top;
}

.woocommerce .checkout .form-row textarea.input-text,
.woocommerce .edit-address-form .form-row textarea.input-text {
	height: 100px;
}

.woocommerce-checkout .form-row .chosen-container-single .chosen-single,
.edit-address-form .form-row .chosen-container-single .chosen-single {
	height: 35px;
	border: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.woocommerce-checkout .form-row .chosen-container-single .chosen-single div,
.edit-address-form .form-row .chosen-container-single .chosen-single div {
	width: 35px;
}

.woocommerce-checkout .form-row .chosen-container-single .chosen-single div:before,
.edit-address-form .form-row .chosen-container-single .chosen-single div:before {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -14px 0 0 -6px;
	font-family: 'Codeus';
	font-weight: normal;
	font-size: 12px;
	color: #558cad;
	content: '\e608';
}

.woocommerce-checkout .form-row .chosen-container-single .chosen-single div b,
.edit-address-form .form-row .chosen-container-single .chosen-single div b {
	background: none !important;
}

.woocommerce-checkout .form-row .chosen-container-single .chosen-single span,
.edit-address-form .form-row .chosen-container-single .chosen-single span {
	margin-right: 35px;
	height: 100%;
	color: inherit;
}

.woocommerce-checkout .form-row .checkbox-sign,
.woocommerce-checkout #ship-to-different-address .checkbox-sign,
.woocommerce .checkout #payment .payment_methods li span.radio,
.checkout-login-box .form-row .checkbox-sign {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	position: relative;
	vertical-align: middle;
}

.woocommerce-checkout .form-row .checkbox-sign.checked:before,
.woocommerce-checkout #ship-to-different-address .checkbox-sign.checked:before,
.woocommerce .checkout #payment .payment_methods li span.radio.checked:before,
.checkout-login-box .form-row .checkbox-sign.checked:before {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	margin: -12px 0 0 0;
	font-family: 'Codeus';
	font-weight: normal;
	font-size: 15px;
	color: #558cad;
	content: '\e610';
	text-align: center;
}

.woocommerce .checkout .woocommerce-billing-collumn .form-row label.checkbox,
.woocommerce-checkout #ship-to-different-address label.checkbox,
.woocommerce .checkout #payment .payment_methods li label {
	position: static;
	display: inline-block;
	width: auto;
	font-size: inherit;
	color: inherit;
	margin-left: 8px;
	vertical-align: middle;
}

.woocommerce .checkout div.create-account {
	clear: both;
	padding-top: 20px;
}

.woocommerce .checkout .shipping_address {
	padding: 43px 0 0 0;
}

.woocommerce .checkout #tabs-billing .shiping-address-continue {
	float: right;
}

.woocommerce-checkout .form-row.create-account {
	float: left;
}

.woocommerce .checkout .shipping_address .shiping-address-continue .button, .woocommerce .checkout #tabs-billing .shiping-address-continue .button, .woocommerce .checkout .shiping-address-continue.shipping_address_bottom .button {
	margin: -7px 0 0 0;
	background: #53c390;
}

.woocommerce .checkout .shiping-address-continue.shipping_address_bottom {
	float: right;
}

.woocommerce .checkout .shiping-address-continue.shipping_address_bottom .button {
	margin: 0 0 0 0;
}

.woocommerce .checkout .shiping-address-continue.shipping_address_bottom {
	margin-top: -54px;
}

.woocommerce .checkout #payment .payment_methods {
	list-style: none;
	padding: 0;
	margin: 0;
}

.woocommerce .checkout #payment .payment_methods li {
	margin-bottom: 60px;
}

.woocommerce .checkout #payment .payment_methods li .payment_box {
	margin-top: 16px;
	padding: 16px 25px;
}

.woocommerce .checkout .place-order {
	float: right;
	margin: -46px 0 0 0;
}

.woocommerce .checkout .place-order #place_order {
	background: #53c390;
	margin: 0 0 0 0;
}

.order_review_shop_table_wrapper {
	margin: 0 -40px;
}

.woocommerce table.shop_table.order-details {
	width: 100%;
	border: 0;
	margin-bottom: 36px;
	border-bottom: 1px solid transparent;
}

.checkout-cart-info > td {
	padding: 32px 50px 21px;
}

.woocommerce table.checkout-cart-info-table {
	width: 100%;
	border: 0;
}

.woocommerce table.checkout-cart-info-table tr {
	border-top: 1px solid transparent;
	background-color: transparent;
}

.woocommerce table.checkout-cart-info-table tr:first-child {
	border-top: 0;
}

.woocommerce table.checkout-cart-info-table tr th {
	text-align: left;
	font-weight: normal;
}

.woocommerce table.checkout-cart-info-table tr td {
	text-align: right;
	font-size: 24px;
	color: inherit;
	line-height: 1.2;
}

.woocommerce table.checkout-cart-info-table tr.order-total td {
	font-size: 36px;
}

.woocommerce table.checkout-cart-info-table tr.order-total td strong {
	font-weight: normal;
}

.woocommerce table.checkout-cart-info-table tr th, .woocommerce table.checkout-cart-info-table tr td {
	padding: 7px 0 11px 0;
}

.woocommerce table.shop_table.order-details thead tr th.product-name,
.woocommerce table.shop_table.order-details thead tr th.product-total {
	font-size: 15px;
	padding: 7px 0 5px 0;
}

.woocommerce table.shop_table.order-details thead tr th.product-name {
	width: 65%;
	text-align: left;
	padding-left: 200px;
}

.woocommerce table.shop_table.order-details thead tr th.product-total {
	width: 35%;
	text-align: right;
	padding-right: 50px;
}

.woocommerce table.shop_table.order-details tr.cart_item,
.woocommerce table.shop_table.order-details tr.order_item {
	background-color: transparent;
}

.woocommerce table.shop_table.order-details tr.cart_item td.product-name,
.woocommerce table.shop_table.order-details tr.cart_item td.product-total,
.woocommerce table.shop_table.order-details tr.order_item td.product-name,
.woocommerce table.shop_table.order-details tr.order_item td.product-total {
	padding: 24px 0 22px 0;
}

.woocommerce table.shop_table.order-details tr.cart_item td.product-name,
.woocommerce table.shop_table.order-details tr.order_item td.product-name {
	text-align: left;
	padding-left: 50px;
}

.woocommerce table.shop_table.order-details tr.cart_item td.product-name .product-thumbnail,
.woocommerce table.shop_table.order-details tr.order_item td.product-name .product-thumbnail {
	display: inline-block;
	margin: 0 20px 0 0;
	vertical-align: middle;
}

.woocommerce table.shop_table.order-details tr.cart_item td.product-name .product-thumbnail img,
.woocommerce table.shop_table.order-details tr.order_item td.product-name .product-thumbnail img {
	width: 90px;
}

.woocommerce table.shop_table.order-details tr.cart_item td.product-name .product-info,
.woocommerce table.shop_table.order-details tr.order_item td.product-name .product-info {
	display: inline-block;
	vertical-align: middle;
}

.woocommerce table.shop_table.order-details tr.cart_item td.product-name .product-info h4,
.woocommerce table.shop_table.order-details tr.order_item td.product-name .product-info h4 {
	margin-bottom: 0;
	text-transform: none;
}

.woocommerce table.shop_table.order-details tr.cart_item td.product-name .product-info dl.variation dt,
.woocommerce table.shop_table.order-details tr.order_item td.product-name .product-info dl.variation dt {
	float: left;
}

.woocommerce table.shop_table.order-details tr.cart_item td.product-name .product-info dl.variation dd,
.woocommerce table.shop_table.order-details tr.order_item td.product-name .product-info dl.variation dd {
}

.woocommerce table.shop_table.order-details tr.cart_item td.product-total,
.woocommerce table.shop_table.order-details tr.order_item td.product-total {
	text-align: right;
	padding-right: 50px;
}

.woocommerce table.shop_table.order-details tr.cart_item,
.woocommerce table.shop_table.order-details tr.order_item {
	border-bottom: 1px solid transparent;
}

@media only screen and (max-width:800px) {
	.woocommerce-billing-collumns .woocommerce-billing-collumn {
		display: block;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		margin-top: 62px;
	}
	
	.woocommerce-billing-collumns .woocommerce-billing-collumn:first-child {
		margin: 0;
	}
}

@media only screen and (max-width:540px) {
	.woocommerce .checkout_coupon .coupon {
		float: none;
	}
	
	.woocommerce .checkout_coupon .coupon #coupon_code {
		margin-right: 0;
		width: 100%;
		margin-bottom: 10px;
	}
}

.woocommerce ul.woocommerce-error {
	padding: 0;
	margin: 0 0 46px 0;
	list-style: none;
}

.woocommerce ul.woocommerce-error li {
	background: #fef2f2;
	border: 1px solid #f35959;
	margin-top: 19px;
	color: #f35859;
	padding: 14px 20px 14px 69px;
	position: relative;
}

.woocommerce ul.woocommerce-error li:first-child {
	margin: 0;
}

.woocommerce ul.woocommerce-error li strong {
	font-weight: normal;
}

.woocommerce ul.woocommerce-error li:before {
	position: absolute;
	left: 22px;
	top: 50%;
	font-size: 23px;
	color: #f35859;
	content: '!';
	text-indent: 1px;
	border: 1px solid #f35859;
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 30px;
	text-align: center;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	margin-top: -15px;
}

.checkout-login-box, .checkout-lost-password-box {
	border: 1px solid transparent;
	margin-bottom: 49px;
	padding: 28px 28px 28px 37px;
}

.checkout-lost-password-box {
	margin: 0;
}

.woocommerce .checkout-login-box h4 {
	margin: 0;
}

.woocommerce .checkout-login-box .login {
	margin-top: 34px;
}

.woocommerce #customer_login .checkout-login-box .login {
	margin: 0;
}

.woocommerce .checkout-login-box .login .form-row,
.woocommerce .checkout-lost-password-box .form-row {
	float: right;
	margin-top: 28px;
	margin-bottom: 24px;
}

.woocommerce .checkout-lost-password-box .form-row {
	float: left;
	margin-bottom: 0;
	margin-top: 26px;
}

.woocommerce .checkout-login-box .login .form-row.form-row-first,
.woocommerce .checkout-login-box .login .form-row.form-row-last,
.woocommerce .checkout-lost-password-box .form-row.form-row-first,
.woocommerce .checkout-lost-password-box .form-row.form-row-last {
	float: left;
	margin-top: 0;
}

.woocommerce .checkout-login-box .login .form-row.form-row-first,
.woocommerce .checkout-lost-password-box .form-row.form-row-first,
.woocommerce .checkout-lost-password-box .form-row.form-row-last {
	margin-right: 50px;
}

.woocommerce .checkout-login-box .login .form-row label,
.woocommerce .checkout-lost-password-box .form-row label {
	display: block;
	font-size: 15px;
	margin-bottom: 10px;
}

.woocommerce .checkout-login-box .login .form-row label .required,
.woocommerce .checkout-lost-password-box .form-row label .required {
	color: #fe3e64;
	vertical-align: super;
}

.woocommerce .checkout-login-box .login .form-row .input-text,
.woocommerce .checkout-lost-password-box .form-row .input-text {
	display: inline-block;
	position: relative;
	border: 0 none;
	margin: 0;
	width: 330px;
	height: 35px;
	text-align: left;
	color: inherit;
	vertical-align: top;
}

.woocommerce .checkout-login-box .login .login-row,
.woocommerce .checkout-lost-password-box .login-row {
	margin-top: 31px;
}

#customer_login .checkout-login-box .login .login-row {
	margin: 0;
}

.woocommerce .checkout-login-box .login .form-row label.inline {
	display: inline-block;
	margin: 0 38px 0 8px;
	color: inherit;
	font-size: inherit;
}

.woocommerce .checkout-login-box .login .form-row .button,
.woocommerce .checkout-lost-password-box .form-row .button {
	margin-top: 0;
}

.checkout-lost-password-text {
	margin-bottom: 36px;
}

.woocommerce #customer_login {
	width: 100%;
	white-space: nowrap;
}

.woocommerce #customer_login .col {
	display: inline-block;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
}

.woocommerce #customer_login .col.col-1 {
	padding-right: 18px;
}

.woocommerce #customer_login .col.col-2 {
	padding-left: 18px;
}

.woocommerce #customer_login .col .login-box{
	background: #f0f4f7;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 35px;
}

.woocommerce #customer_login .col .login-box .form-row {
	margin-top: 31px;
}

.woocommerce #customer_login .col .login-box .form-row:first-child {
	margin: 0;
}

.woocommerce #customer_login .col .login-box .form-row.buttons {
	margin-top: 36px;
}

.woocommerce #customer_login .col .login-box .form-row label {
	display: block;
	font-size: 24px;
	margin-bottom: 12px;
}

.woocommerce #customer_login .col .login-box .form-row label .required {
	color: #fe3e64;
	vertical-align: super;
}

.woocommerce #customer_login .col .login-box .form-row .input-text {
	display: inline-block;
	position: relative;
	border: 0 none;
	margin: 0;
	width: 100%;
	height: 43px;
	text-align: left;
	color: inherit;
	background-color: #ffffff;
	vertical-align: top;
	font-size: 30px;
	line-height: 1.4;
	padding-top: 0;
	padding-bottom: 0;
}

.woocommerce #customer_login .col .login-box .form-row .button {
	float: right;
	margin: 0;
}

.woocommerce #customer_login .col .login-box .form-row .checkbox-sign {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: #ffffff;
	cursor: pointer;
	position: relative;
	vertical-align: middle;
}

.woocommerce #customer_login .col .login-box .form-row .checkbox-sign.checked:before {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	margin: -12px 0 0 0;
	font-family: 'Codeus';
	font-weight: normal;
	font-size: 15px;
	color: #558cad;
	content: '\e610';
	text-align: center;
}

.woocommerce #customer_login .col .login-box .form-row label.inline {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 9px;
	font-size: 17px;
	color: inherit;
}

.woocommerce #customer_login .col .login-box .form-row .rememberme {
	display: block;
	float: left;
	margin-top: 13px;
}

.woocommerce #customer_login .col .login-box .form-row .lost_password {
	display: block;
	float: right;
	margin: 18px 17px 0 0;
}

.woocommerce #customer_login .col .login-box .form-row .lost_password:before {
	font-family: 'Codeus';
	font-weight: normal;
	font-size: 12px;
	content: '\e603';
	position: relative;
	top: -1px;
}

.woocommerce .edit-address-form {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid transparent;
	padding: 56px 41px 65px 41px;
}

.edit-address-form .form-row .chosen-container {
	width: 100% !important;
}

.woocommerce .edit-address-form .edit-address-form-save {
	float: right;
}

.woocommerce .edit-address-form .edit-address-form-save .button {
	margin: -7px 0 0 0;
}

@media only screen and (max-width:800px) {
	.woocommerce #customer_login .col {
		display: block;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	
	.woocommerce #customer_login .col.col2 {
		margin-top: 20px;
	}
}

.myaccount-splash-page .myaccount_address {
	padding-left: 5px;
}

.myaccount-splash-page .address {
	margin-top: 53px;
}

.myaccount-splash-page .address header,
.order-customer-details header {
	margin-bottom: 43px;
}

.myaccount-splash-page .address .title h3 {
	margin-bottom: 38px;
}

.myaccount-splash-page .address .title a.edit {
	display: inline-block;
	font-size: 15px;
	color: #ffffff;
	text-transform: uppercase;
	padding: 5px 17px 4px 13px;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.myaccount-splash-page .address .title a.edit:before {
	font-family: 'Codeus';
	font-weight: normal;
	font-size: 12px;
	content: '\e603';
	position: relative;
	top: -1px;
}

.myaccount-splash-page .address address {
	font-style: normal;
}

.woocommerce .myaccount_user {
	margin-bottom: 52px;
}

.order-customer-details .customer_details {
}

.order-customer-details .customer_details dt {
	display: none;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.order-customer-details .customer_details dd {
}

.order-customer-details .customer_details dt,
.order-customer-details .customer_details dd {
}

.order-customer-details .customer_details dt.first,
.order-customer-details .customer_details dd.first {
	padding-top: 0;
	border: 0;
}

.woocommerce table.shop_table.order-details.received-order {
	border: 1px solid transparent;
}

.woocommerce ul.order_details {
	list-style: none;
	padding: 0;
	margin: 50px 0 50px 0;
	display: inline-block;
	min-width: 476px;
}

.woocommerce ul.order_details li {
	padding: 16px 53px 12px 53px;
	margin: 0;
	border-top: 1px solid transparent;
	white-space: nowrap;
}

.woocommerce ul.order_details li:first-child {
	border: 0;
}

.woocommerce ul.order_details li .title {
	display: inline-block;
	min-width: 193px;
	font-weight: 600;
}

.woocommerce ul.order_details li strong {
	font-weight: normal;
}

.woocommerce h2.order-details-title {
	margin: 30px 0 30px 0;
}

.order-bank-details h2 {
	margin: 30px 0 0 0;
}

table.myaccount-orders-table {
	width: 100%;
	margin-bottom: 36px;
	border: 1px solid transparent;
}

table.myaccount-orders-table thead th {
	padding: 7px 0 6px 0;
	font-size: 15px;
	text-align: center;
}

table.myaccount-orders-table tbody td {
	padding: 23px 0;
	text-align: center !important;
	border-top: 1px solid transparent;
}

table.myaccount-orders-table tbody tr:first-child td {
	border: 0;
}

table.myaccount-orders-table tbody td .button {
	margin: 0;
}

.order-info mark {
	font-weight: bold;
	background: transparent;
}

.woocommerce ul.digital-downloads {
	list-style: none;
	padding: 0;
	margin: 0;
}

.widget_layered_nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.widget_layered_nav ul li {
	font-size: 16px;
}

.widget_layered_nav ul li a {
	text-decoration: none;
	font-size: 16px;
}

.widget_layered_nav ul li a:before {
	font-family: 'Codeus';
	font-weight: normal;
	font-size: 15px;
	content: '\e609';
	position: relative;
	top: 1px;
	margin-right: 8px;
}

.widget_layered_nav_filters ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.widget_layered_nav_filters ul li {
	font-size: 16px;
}

.widget_layered_nav_filters ul li a {
	text-decoration: none;
	font-size: 16px;
}

.widget_layered_nav_filters ul li a:before {
	font-family: 'Codeus';
	font-weight: normal;
	font-size: 15px;
	content: '\e610';
	position: relative;
	top: 1px;
	margin-right: 8px;
}






#header #site-navigation .minicart-item-count {
	position: absolute;
	width: 21px;
	height: 20px;
	font-size: 13px;
	line-height: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	top: 12px;
	text-align: center;
}

#header.header-fixed #site-navigation .minicart-item-count {
	top: 2px;
}

#header #site-navigation .dl-menu .minicart-item-count {
	display: none;
}

#header #site-navigation ul.minicart {
	left: auto;
	right: -20px;
	width: auto;
	min-width: 286px;
}

#header #site-navigation .dl-subviewopen ul.minicart {
	left: 0;
	right: auto;
}

#header #site-navigation ul.minicart .empty {
	padding: 22px;
}

#header #site-navigation ul.minicart .cart_list_item {
	display: block;
	border-top: 1px solid transparent;
	padding: 19px 22px 22px 22px;
	white-space: nowrap;
}

#header #site-navigation ul.minicart .cart_list_item .mini-cart-thumbnail {
	display: inline-block;
	margin: 0 11px 0 0;
	vertical-align: middle;
}

#header #site-navigation ul.minicart .cart_list_item .mini-cart-thumbnail img {
	width: 90px;
}

#header #site-navigation ul.minicart .cart_list_item .mini-cart-info {
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	line-height: 30px;
}

#header #site-navigation ul.minicart .cart_list_item .mini-cart-info .title {
}

#header #site-navigation ul.minicart .cart_list_item .mini-cart-info dl.variation dt,
#header #site-navigation ul.minicart .cart_list_item .mini-cart-info dl.variation dd {
	display: inline-block;
}

#header #site-navigation ul.minicart .cart_list_item .mini-cart-info .times {
	font-size: 12px;
}

#header #site-navigation ul.minicart .cart_list_item .mini-cart-info .quantity {
	display: block;
}

#header #site-navigation ul.minicart .mini-cart-bottom {
	padding: 21px 22px 22px 22px;
}

#header #site-navigation ul.minicart .mini-cart-bottom .total strong {
	float: left;
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	padding-top: 3px;
}

#header #site-navigation ul.minicart .mini-cart-bottom .total .amount {
	float: right;
	font-size: 24px;
	display: inline-block;
}

#header #site-navigation ul.minicart .mini-cart-bottom .buttons {
	white-space: nowrap;
	padding-top: 14px;
}

#header #site-navigation ul.minicart .mini-cart-bottom .buttons .button {
	display: inline-block;
	margin: 0;
	color: #ffffff;
	padding: 4px 13px 1px 27px;
}

#header #site-navigation ul.minicart .mini-cart-bottom .buttons .button:before {
	border: 0;
	left: 2px;
	font-size: 12px;
	margin-top: -14px;
}

#header #site-navigation ul.minicart .mini-cart-bottom .buttons .wc-forward {
	float: left;
}

#header #site-navigation ul.minicart .mini-cart-bottom .buttons .wc-forward.checkout {
	background: #f35859;
	float: right;
}